import React, { Component, Fragment } from 'react';
import { connect } from 'dva';
<%- importString %>

@connect(state => state)
class <%= pageName %> extends Component {
    constructor(props) {
        super(props);
        <%- renderConstructor(extraConfig) %>
    }
    <%- renderMethod(extraConfig, fileConfig, pageName) %>
    render() {<% -%>
        <%- renderProp(extraConfig) %>
        return (
            <div className="fulu-container">
                <%- renderEnter(fileConfig, pageName, true) %>
            </div>
        );
    }
}
<%- renderExport(extraConfig) %>