                <Form onSubmit={this.onSubmit} layout="inline">
                    <Row gutter={{ md: 8, lg: 24, xl: 48 }}><% -%>
                    <% Array.isArray( configs.formItemArr) && configs.formItemArr.forEach(function(config, i){ -%>
                        <% const { label, name, colSpan = 8, colIndex, type, cellStyles = {}, singleRow = false, hasLinkage } = config; -%>
                        <% if(type === 'Btn') { %>
                        <Col
                            md={<%= colSpan %>}
                            sm={24}
                            key="col-<%= colIndex %>"
                        ><% -%>
                        <%_ if(hasStyle(cellStyles)) { %>
                            <FormItem style={<%- JSON.stringify(cellStyles) %>}>
                        <% } %>
                        <%_ if(!hasStyle(cellStyles)) { -%>
                            <FormItem>
                        <%_ } %><% -%>
                                <%- renderButton(config) %>
                            </FormItem>
                        </Col>
                    <% } -%>
                    <% if(!name) { -%>
                    <%    return null;-%>
                    <% } -%>
                    <% if (hasLinkage === '1') { -%>
                        <% const { linkName, condition } = config; -%>
                        <% if (form.getFieldValue(linkName) !== condition) { -%>
                            <%  return null; -%>
                        <% } -%>
                    <% } %>
                    <% if (extraData.hasExpand && expandCount > 0) { -%>
                        <Col
                            md={<%= colSpan %>}
                            sm={24}
                            key="col-<%= colIndex %>"
                            style={<%- JSON.stringify(getStyle(extraData, i)) %>}
                        ><% -%>
                    <% } else { %>
                        <Col
                            md={<%= colSpan %>}
                            sm={24}
                            key="col-<%= colIndex %>"
                        ><% -%>
                    <% } %><% -%>
                        <%_ if(hasStyle(cellStyles)) { %>
                            <FormItem label="<%= label %>" style={<%- JSON.stringify(cellStyles) %>}>
                        <% } %>
                        <%_ if(!hasStyle(cellStyles)) { -%>
                            <FormItem label="<%= label %>">
                        <%_ } %><% -%>
                                {getFieldDecorator("<%= name %>", {
                                    rules: [],
                                    initialValue: <%- getInitialValue(config) || '' %>,
                                })(
                                    <%- renderItemComponent(config) %>
                                )}
                            </FormItem>
                        </Col><% -%>
                    <% }) %>
                    </Row>
                </Form>